/* Start Global Rules */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Itim', cursive;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}
/* End Global Rules */

/* Start Landing Page */
.landing-page header {
  min-height: 65px;
  display: flex;
  box-shadow: 0 13px 20px -2px rgba(47, 47, 47, 0.264);
}
@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }
}
.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }
}
.landing-page header .logo {
  color: #5d5d5d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 25px;
}
@media (max-width: 767px) {
  .landing-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.landing-page header .links {
  display: flex;
  align-items: center;
  font-size: 20px;
}
@media (max-width: 767px) {
  .landing-page header .links {
    text-align: center;
    gap: 10px;
  }
}
.landing-page header .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}
@media (max-width: 767px) {
  .landing-page header .links li {
    margin-left: auto;
  }
}
.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: rgba(48, 48, 47, 0.77);
  font-size: 20px;
}
.landing-page header .links li:last-child:hover {
  background-color: rgb(28, 28, 27);
}
.landing-page header .links li:not(:last-child):hover {
  color: #000000;
  border-bottom: 2px rgb(70, 69, 69) solid;
}
.landing-page header .links li:not(:last-child) {
  border-bottom: 2px #D9D9D9 solid;
}
.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 100vh;
}
@media (max-width: 767px) {
  .landing-page .content .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px 
  }
}
.content, .container{
  width: 100%;
}
.info {
  width: 50%;
  height: 50%;
}
.landing-page .content .info h1 {
  color: #5d5d5d;
  font-size: 44px;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}
.landing-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #6c63ff;
}
.image {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.image svg{
  position: absolute;
}
.image img{
  width: 384px;
  margin-left: 25px;
}
/* End Landing Page */

/* Novias Prada */

/* Letra chida */
.info{
  display: flex;
}
p {
  font-size: 25px;
  overflow: hidden;
  position: relative;
  color: white;
}
p::after {
  content: "Alquiler";
  display: inline-block;
  animation: animation 8s steps(15) infinite;
  width: 0ch;
  color: lightseagreen;
}
p::before {
  display: inline-block;
  content: "";
  width: 2px;
  height: 28px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  right: 0;
  animation: blinking .9s linear alternate infinite;
}
@keyframes animation {
  25% {
    content: "Alquiler";
    width: 7ch;
  }
  35% {
    width: 0ch;
  }
  55% {
    content: "Cotizaciones";
    width: 10ch;
  }
  65% {
    width: 0ch;
  }
  85% {
    content: "Ventas";
    width: 6ch;
  }
  95% {
    width: 0ch;
  }
}
@keyframes blinking {
  100%{
   opacity: 0;
  }
}
